.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.calculator {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items:center;
    background: #2C2D2F;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.output {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.2rem;
    align-items: flex-end;
    padding: 0.2rem 1rem;
    background: #A5B078;
    border-radius: 1rem;
    word-wrap: break-word;
    word-break: break-all;
    border: 5px solid #000;
}

.previous__operand, .current__operand {
    font-weight: 600;
}

.previous__operand {
    font-size: 1.2rem;
}

.current__operand {
    font-size: 2rem;
}

.buttons__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 5rem);
    gap: 1rem;
    padding-top: 2rem;
}

.span__2 {
    grid-column: span 2;
}

.span__2:first-child {
    background: #D02128;
}

.span__2:last-child {
    background: #F57722;
}


.btn {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    box-shadow: inset 8px 8px 3px rgba(0,0,0,0.9),inset -10px -10px 3px rgba(0,0,0,0.9), 0 0 10px rgba(0,0,0,0.5);
    border-radius: 0.5rem;
}

.btn:active {
    transform: scale(0.9);
}